[core]
  editor = vim
  excludesFile = /home/daniel/.gitignore
[user]
  name = Daniel Hodges
  email = hodges.daniel.scott@gmail.com
  signingkey = F57809262E4664D3D2445FCBD295F6D6F3E97B18
[alias]
  st = status
  br = branch
  brr = branch -r
  co = checkout
  cob = checkout -b
  dlc = diff --cached HEAD^
  hard = reset HEAD --hard
  ammend = commit -a --amend
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lgg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[color]
  ui = auto
[push]
  default = simple
[submodule]
  recurse = true
[sendemail]
  smtpServer = smtp.gmail.com
  smtpServerPort = 587
  smtpEncryption = tls
  smtpUser = hodges.daniel.scott@gmail.com
[include]
  path = /home/daniel/.config.local
[gpg]
  program = gpg2
[commit]
  gpgsign = true
[safe]
  directory = /home/daniel/git/bcc
  directory = /home/daniel/git/bcc/src/cc/libbpf
  directory = /home/daniel/git/bcc/libbpf-tools/bpftool
[credential]
  helper = store
